@model AplikacjaRanczo.Models.Kraj

@{
    ViewBag.Title = "Szczegóły";
}

<div>
    <h4>Kraj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.KrajID }) |
    @Html.ActionLink("Powrót", "Index")
</p>
