@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Aplikacja wspomagająca <br /> zarządzanie skupem zwierząt</h2>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

